<script src="https://cdn.jsdelivr.net/npm/mermaid@8.14.0/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
        theme: "forest"
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha256-RtKI23ujTCOg3jNK74NK61WGNYbtBWcqh6UKebC2AQo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism-coy.css" integrity="sha256-yI8zsLVf7zGdxTijb5CgaPdX27pLPRm2F4omxvrw+2g=" crossorigin="anonymous">

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script>
   MathJax = {
        tex: {
            inlineMath: [["$", "$"]]
        },
         options: {
            skipHtmlTags: {'[-]': ['pre']}
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<link href="/styles/style.css" rel="stylesheet">
<link href="/styles/custom-style.css" rel="stylesheet">
