body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    background-color: #ffffff;
    color:#000000;
    .content{ 
        background-color: #ffffff;
        font-color: #000000;
        font-family: Bookerly, Georgia, serif;
    }
   
    code{
        font-family: consolas, menlo, monospaced;
        color: #f06249
    } 
    
    h1{
        color:#08367c
    }
    h2{
        color:#004faa
    }
    h3{
        color:#0e64bb
    }
    h4{
        color:#3481c5;
    }
}
