body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
// blue topaz
.admonition {
    background-color: #b4d7fba6 !important;
}
    
// blue topaz list-no-boder
body.list-no-border ul ul,
body.list-no-border ol ul,
body.list-no-border ul ol,
body.list-no-border ol ol {
  position: initial;
}

body.list-no-border ul ul::before,
body.list-no-border ol ul::before,
body.list-no-border ul ol::before,
body.list-no-border ol ol::before {
  all: initial;
}

body.list-no-border ul>li:not(.task-list-item) {
  border-left: none !important;
}

body.list-no-border ol>li {
  border-left: none !important;
}

body.list-no-line-in-edit .cm-hmd-list-indent .cm-tab::before {
  all: initial;
}

   
// Global    
    font-family: Bookerly, Georgia, "Droid Serif", "Hiragino Sans GB", "Microsoft YaHei", "PingFang SC", "Droid Sans Fallback", sans-serif;
    
    .content {
        max-width: 900px;
        margin: auto;
        font-size: 18px;
        line-height: 1.75;
    }

    code{
        font-family: Cascadia Mono, consolas, menlo, monospace !important;
    } 

    pre{
        font-size: 0.93 rem; 
    }

    code[class*="language-"], pre[class*="language-"] {
        font-family: Cascadia Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 0.9em;
        line-height: 1.3; 
    }

}
