body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    background-color: #ffffff;
    font-family: Bookerly, Geogria, serif;
    .content {
        max-width: 900px;
        margin: auto;
        font-size: 18px;
        line-height: 1.5;
        color: black;
    }
   
    code{
        font-family: consolas, menlo, monospaced;
        color: #f06249
    } 
    pre{
        font-size: 0.93 rem;
    }
    
    a{
        color:#005aa486;
    }
    
    a.external-link{
        color:#12781586;
    }
    
    h1{
        color:#08367c
    }
    h2{
        color:#004faa
    }
    h3{
        color:#0e64bb
    }
    h4{
        color:#3481c5;
    }
    
    li{
        line-height: 1.8
    }
    
    code[class*="language-"], pre[class*="language-"] {
        font-family: Cascadia Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 0.9em;
        line-height: 1.1;

    }

}
