<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    {%include "components/pageheader.njk"%}
    <link rel="icon"  type="image/jpeg" href="https://tvax4.sinaimg.cn/large/88eff492gy1h0byvoo0f1j208m08mmxg.jpg" />
  </head>
  <body>
    {%include "components/notegrowthhistory.njk"%}
    <div class="content">
      {%- for garden in collections.gardenEntry -%}
        {{garden.templateContent | safe }}
      {%- endfor -%}
    </div>
  </body>
</html>
